---
import Box from '@components/primitives/box.astro'
import Link from '@components/primitives/link.astro'
import Text from '@components/typography/text.astro'
import { cardVariants, titleVariants, iconStyle, linkStyle, linkTargetStyle } from './card.css'
import type { CardProps } from '@constants/types'
import SvgIcon from '@components/primitives/svg-icon.astro'

interface Props extends CardProps {}

const { slug, title, subtitle, description, variant = 'default', icon } = Astro.props
---

<Box class={cardVariants[variant]}>
	<Link href={slug} class={linkStyle}>
		{icon && <SvgIcon id={icon} class={iconStyle} />}
		<Text as={variant === 'default' ? 'h2' : 'p'} class={titleVariants[variant]}>
			{title}
		</Text>
		{
			subtitle && (
				<Text as="h3" fontSize="lg" fontWeight="medium" color="textMuted">
					{subtitle}
				</Text>
			)
		}
		{description && <Text marginTop={6}>{description}</Text>}
		<span class={linkTargetStyle}></span>
	</Link>
</Box>
