---
import Badge from '@components/primitives/badge.astro'
import Box from '@components/primitives/box.astro'
import Spacer from '@components/primitives/spacer.astro'
import type { SeriesPartItem } from '@utils/collection'
import { annotationStyle, itemStyle, wrapperStyle } from './series-pagination.css'
import SvgIcon from '@components/primitives/svg-icon.astro'

interface Props {
	currentPart: number
	id: string
	postsInSeries: Array<SeriesPartItem>
}

const { currentPart, id: seriesId, postsInSeries } = Astro.props

/**
 * Calculate the previous and next post in the series based on the current part.
 * Returns an object with `previous` and `next` properties, which can be null if there is no previous or next post.
 */
function getAdjacentPosts(currentPart: number, postsInSeries: Array<SeriesPartItem>) {
	const previous = postsInSeries.find((post) => post.part === currentPart - 1) || null
	const next = postsInSeries.find((post) => post.part === currentPart + 1) || null
	return { previous, next }
}

const { previous, next } = getAdjacentPosts(currentPart, postsInSeries)
---

<Box>
	<Badge variant="dark">Series</Badge>
	<Spacer size={2} axis="vertical" />
	<Box class={wrapperStyle}>
		{
			previous ? (
				<a href={previous.slug} class={itemStyle}>
					<Box class={annotationStyle} display="flex" alignItems="center" justifyContent="flex-start" gap={2}>
						<span data-name="previous" aria-hidden>
							<SvgIcon id="arrow-left" />
						</span>
						Previous
					</Box>
					<Box textAlign="left" fontSize={[`md`, null, null, `lg`]}>
						{previous.title}
					</Box>
				</a>
			) : null
		}
		{
			next ? (
				<a href={next.slug} class={itemStyle} style={{ gridArea: 'right' }}>
					<Box class={annotationStyle} display="flex" alignItems="center" justifyContent="flex-end" gap={2}>
						Next
						<span data-name="next" aria-hidden>
							<SvgIcon id="arrow-right" />
						</span>
					</Box>
					<Box textAlign="right" fontSize={[`md`, null, null, `lg`]}>
						{next.title}
					</Box>
				</a>
			) : null
		}
	</Box>
</Box>
