---
import Base from '@layouts/base.astro'
import Seo from '@components/seo.astro'
import SkipNavContent from '@components/a11y/skip-nav-content.astro'
import Container from '@components/primitives/container.astro'
import Heading from '@components/typography/heading.astro'
import { paddingResponsiveArrays } from '@styles/tokens/space'
import Text from '@components/typography/text.astro'
import Link from '@components/primitives/link.astro'
import Spacer from '@components/primitives/spacer.astro'
import {
	gardenItemSpacerStyle,
	gardenItemStyle,
	gardenItemWrapperStyle,
	iconWrapperStyle,
} from './_garden.css'
import { getSortedGarden } from '@utils/collection'
import { getCollection } from 'astro:content'
import { slugify } from '@utils/slugify'
import SvgIcon from '@components/primitives/svg-icon.astro'
import Box from '@components/primitives/box.astro'
import { SITE } from '@constants/meta'
import TagGroup from '@components/blocks/tag-group.astro'
import { TAGS_CHOICES } from '@constants/content'
import FormattedDate from '@components/primitives/formatted-date.astro'

const garden = getSortedGarden(await getCollection('garden'))
---

<Base>
	<Seo
		slot="seo"
		title="Digital Garden"
		description="I understand my Digital Garden as a collection of free form, interconnected & evolving ideas that grow over time. Like plants grow in a real-world garden."
		image={SITE.defaultGardenOgImage}
		breadcrumbListItems={[{ name: `Digital Garden`, url: `/garden/` }]}
	/>
	<SkipNavContent>
		<Container py={paddingResponsiveArrays.paddingSmall}>
			<Heading as="h1">Digital Garden</Heading>
			<Text variant="prominent"
				><Link href="/garden/what-is-a-digital-garden/" color="heading"
					>What is a Digital Garden?</Link
				> Select tags to filter posts:</Text
			>
			<Spacer size={6} axis="vertical" />
			<TagGroup id="garden" items={[...TAGS_CHOICES]} />
			<Spacer size={20} axis="vertical" />
			<div class={gardenItemWrapperStyle}>
				{
					garden.map(({ data: post, slug }, index) => {
						return (
							<>
								<Link
									href={slugify(slug, 'garden')}
									p={[2, null, null, 6]}
									class:list={[gardenItemStyle, 'tag-group-item']}
									data-tags={post.tags}
								>
									<div class={iconWrapperStyle}>
										<SvgIcon id={post.icon} width="100%" height="100%" />
									</div>
									<div>
										<Box
											as="h2"
											fontSize={[`md`, null, null, `lg`, `lgx`]}
											fontWeight="medium"
											color="heading"
										>
											{post.title}
										</Box>
										<Text fontSize={[`sm`, null, null, `md`]}>
											<FormattedDate date={post.lastUpdated} />
										</Text>
									</div>
									<span>
										<SvgIcon id="arrow-right" height="1.25em" width="1.25em" />
									</span>
									{index !== garden.length - 1 && (
										<Spacer
											axis="horizontal"
											size="full"
											class={gardenItemSpacerStyle}
										/>
									)}
								</Link>
							</>
						)
					})
				}
			</div>
		</Container>
	</SkipNavContent>
</Base>
